.message{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.messagetop{
    display: flex;
}

.messageimg{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.messagetext{
    padding: 10px;
    border-radius: 20px;
    background-color: rgb(0, 132, 255);
    color: white;
    max-width: 300px;
}

.messagebottom{
    font-size: 12px;
    margin-top: 10px;
}

.message.own{
    align-items: flex-end;
}

.message.own .messagetext{
    background-color: rgb(233, 233, 233);
    color: black;
}