.feedback{
    width:80%;
    background-color: rgb(58, 58, 58);
    color: white;
    text-align: left;
    padding: 20px;
    margin: 20px auto;
    border-radius: 30px;
    text-transform: capitalize;
}
@media (max-width:767px){
    .feedback{
        width:100%;
    }
}
.feedbackbody{
    min-height: 800px;
}